<%= error_messages_for 'weeks' %>

<table class="ft" border="1">
<!--[form:weeks]-->
<tr>
	<td>Field1</td>
	<td><%= text_area 'weeks', 'field1', :rows=>6, :cols=>100  %></td>
</tr>

<tr>
	<td>Field2</td>
	<td><%= text_area 'weeks', 'field2', :rows=>6, :cols=>100  %></td>
</tr>

<tr>
	<td>Field3</td>
	<td><%= text_area 'weeks', 'field3', :rows=>6, :cols=>100  %></td>
</tr>

<tr>
	<td>养护贴士</td>
	<td><%= text_area 'weeks', 'field5', :rows=>6, :cols=>100  %></td>
</tr>

<tr>
	<td>孕妈课堂</td>
	<td><%= text_area 'weeks', 'field6', :rows=>6, :cols=>100  %></td>
</tr>

<tr>
	<td>Field4</td>
	<td><%= text_area 'weeks', 'field4', :rows=>6, :cols=>100  %></td>
</tr>
<!--[eoform:weeks]-->

</table>