<fieldset>
    <legend>
        信息更改
    </legend>
    <div class="line_item">
        <span class="title"><%= f.label :supplier_code,"供应商编码：" %>
        </span>
        <span class="content">
			<%= f.text_field :supplier_code %> <%= link_to "管理供应商编码清单","/mms/suppliers",:target=>"_blank"%>
	            <%= f.error_message_on :supplier_code %>
        </span>
    </div>
</fieldset>
<fieldset>
    <legend>
        供应商编码
    </legend>
        <% @suppliers.each do |supplier|%>
		    <div class="line_item">
					<span class="title"><%= link_to supplier.code,"javascript:void(0);",:onclick=>"$('#tuan_supplier_code').val($(this).text());"%></span>
					<span class="content"><%=supplier.name%></span>
		    </div>
		<% end %>
</fieldset>
<fieldset>
    <legend>
        使用说明
    </legend>
    <div class="line_item">
		<span class="title">使用方法：</span>
		<span class="content">
			点击供应商编码的蓝色链接->保存
		</span>
    </div>
	<div class="line_item">
		<span class="title">排序规则：</span>
		<span class="content">
			供应商编码开头字母
		</span>
    </div>
</fieldset>
<div class="submit">
	<span class="left">
    	<input type="submit" name="submit" value="提交">
	</span>
	<span class="right">
		<%= link_to '返回', '/mms/mms_tuans' %>
	</span>
</div>

<style type="text/css">
    fieldset {
        border: 1px solid #D1D1D1;
        color: #333333;
        line-height: 220%;
        margin: 20px;
        padding: 10px;
    }
    
    legend {
        background: none repeat scroll 0 0 #FFFFFF;
        color: #666666;
        font-weight: 800;
    }
    
    fieldset div.line_item {
        height: 30px;
        display: block;
		width:100%;
    }
    
    .line_item .title {
        margin-left: 30px;
        font-weight: bolder;
        width: 150px;
        float: left;
    }
    
    .line_item .content {
        float: left;
    }
	div.submit{
		margin:20px;
		text-align:center;
	}
	div.submit span{
		margin:0 20px;
	}
</style>