<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>妈妈团</title>
    </head>
    <body>
        <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/all.css?1278402909">
        <style>
            body {
                background: #ccc;
            }
            
            #wapper {
                width: 734px;
                margin: 0px auto;
                background: #fff;
            }
            
            #head {
                overflow: hidden;
            }
            
            #head a.logo {
                height: 81px;
                display: block;
            }
            
            #head .look_link {
                height: 25px;
                line-height: 25px;
                text-align: center;
            }
            
            #middle {
                overflow: hidden;
            }
            
            #middle h1.title_info a {
                font-size: 24px;
                font-weight: bold;
                color: rgb(26, 120, 193);
                line-height: 180%;
                display: block;
                width: 700px;
                margin: 0px auto 20px;
            }
            
            #middle .title_money {
                font-size: 28px;
                font-family: Arial, 黑体;
                color: #CD0102;
                text-align: center;
                font-weight: bold;
                height: 60px;
                line-height: 60px;
            }
            
            #middle .brief_left {
                float: left;
                width: 245px;
                position: relative;
            }
            
            #middle .buyit_info {
                background: url(/images/tuan/button_bg.jpg) no-repeat;
                width: 248px;
                height: 64px;
                line-height: 55px;
                position: absolute;
                z-index: 1;
                left: 6px;
                top: 10px;
            }
            
            #middle .buyit_info strong {
                color: #FFFFFF;
                display: block;
                float: left;
                font-size: 30px;
                font-weight: normal;
                padding-left: 10px;
                text-align: left;
                width: 125px;
                font-family: Arial;
            }
            
            #middle .buyit_info strong em {
                font-size: 24px;
                font-style: normal;
            }
            
            #middle .buyit_info span {
                float: left;
                margin-top: 10px;
                width: 87px;
                height: 36px;
            }
            
            #middle .brief_left .price {
                width: 197px;
                margin-left: 35px;
                background: #FAD8E1;
                border: 1px solid #F6B1C3;
                color: #B73578;
                font-weight: bold;
                height: 70px;
                padding: 80px 0px 0;
            }
            
            #middle .brief_left .price table {
                text-align: center;
                height: 37px;
                margin: 15px 0;
                border-spacing: 0;
                border-collapse: collapse;
            }
            
            #middle .brief_left .price table th {
                color: #707070;
                font-size: 12px;
                font-weight: normal;
                text-align: center;
                width: 60px;
            }
            
            #middle .brief_left .price table td.market_price {
                color: #707070;
                text-decoration: line-through;
            }
            
            #middle .brief_left .price table td {
                font-size: 16px;
            }
            
            #middle .brief_left .countdown {
                width: 197px;
                margin: 15px 0px 0px 35px;
                background: #FDEFF3;
                border: 1px solid #F6B1C3;
                color: #666;
                padding: 15px 0px;
                text-align: center;
            }
            
            #middle .brief_left .countdown h4.tuangou_1 {
                font-size: 14px;
                text-align: left;
                height: 30px;
                line-height: 30px;
                width: 150px;
                margin: 0px auto 10px;
            }
            
            #middle .brief_left .countdown p.tuangou_2 {
                text-align: left;
                width: 150px;
                margin: 0px auto 0px;
                line-height: 150%;
                padding-bottom: 5px;
            }
            
            #middle .brief_left .deal_status {
                width: 197px;
                margin-left: 35px;
                background: #FDEFF3;
                border: 1px solid #F6B1C3;
                height: 80px;
                margin-top: 15px;
                text-align: center;
            }
            
            #middle .brief_left .deal_status strong {
                color: #B73578;
                padding: 0;
            }
            
            #middle .brief_left .deal_status .no_stock_soon {
                background: url(/images/tuan/countdown.gif) 32px 9px no-repeat;
                height: 50px;
                padding-left: 75px;
                text-align: left;
                width: 100px;
                margin-top: 10px;
                font-size: 14px;
                line-height: 180%;
            }
            
            #middle .brief_right {
                float: right;
                width: 465px;
            }
            
            #middle .brief_right .deal_note {
                background: url(/images/tuan/note_quote.gif) no-repeat;
                color: #959595;
                margin-right: 40px;
                margin-top: 20px;
                padding-left: 80px;
                padding-top: 25px;
                font-size: 14px;
                line-height: 180%;
                _height: 60px;
                min-height: 60px;
            }
            
            #middle .post_shopping_info {
                overflow: hidden;
                width: 720px;
                margin: 0px auto 30px;
            }
            
            #middle .mms_tuan_infor {
                width: 670px;
                margin: 20px auto;
                line-height: 180%;
            }
            
            #foot {
                font-size: 14px;
                color: rgb(68, 68, 68);
                text-align: center;
                background: url(/images/ads/email/tuan/foot_bg.png) no-repeat scroll 0% 0% transparent;
                height: 55px;
                line-height: 55px;
            }
        </style>
        <div id="wapper">
            <div id="head">
                <a class="logo" href="#"><img src="/images/ads/email/tuan/logo_bg.jpg"></a>
            </div>
            <div id="middle">
                <div class="deal_brief">
                    <div class="title_money">
			团购日期：<%= @tuan.begin_time.strftime("%Y年%m月%d日")%>--<%= @tuan.end_time.strftime("%Y年%m月%d日") %>	
                    </div>
                    <h1 class="title_info"><%= link_to @tuan.content, "#" %></h1>
                    <div class="brief_left">
                        <div class="buyit_info">
                            <strong><em>¥</em><%= @tuan.current_price %></strong>
                            <span><a href="/tuan/buy/462"><img src="/images/tuan/shop_button_1.png"></a></span>
                        </div>
                        <div class="price">
                            <table>
                                <tbody>
                                    <tr>
                                        <th class="market_price">
                                            市场价 
                                        </th>
                                        <th class="discount">
                                            折扣 
                                        </th>
                                        <th>
                                            您节省 
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="market_price">
                                            ¥<%= @tuan.origin_price %>
                                        </td>
                                        <td>
                                            <%= @tuan.discount %>折 
                                        </td>
                                        <td>
                                            ¥<%= @tuan.save_money %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="countdown">
                            <h4 class="tuangou_1">
                            	<% if @tuan.tp == 1 %>
                            	邀请好友返利<%= @tuan.back_money %>元
								<% else %>
								邀请好友参加抽奖
								<% end %>
							</h4>
                            <p class="tuangou_2">
                                感觉不错？邀请好友一同
                                <br>
                                分享吧！
                                <br>
                                <a target="_blank" title="" href="http://www.mamashai.com/tuan/invite?ad_keyword=149">点此获取专属链接</a>
                            </p>
                        </div>
                        <div class="deal_status">
                            <div class="progress no_stock_soon">
                                <strong>数量有限</strong>
                                <br>
                                下手要快哦 
                            </div>
                        </div>
                    </div>
                    <div class="brief_right">
                        <div class="pic">
                            <%=logo_tag(@tuan,{:url=>"/tuan/mama/#{h @tuan.id}",:title=>@tuan.content}) %>
                        </div>
                        <div class="deal_note">
                            <%= @tuan.title %>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <!--deal_brief-->
                <div class="post_shopping_info">
                    <div class="mms_tuan_infor" id="details">
                        <p>
                            <img src="/images/tuan/mms_ads_1.jpg">
                        </p>
                        <%= @tuan.introduction %>
                    </div>
                </div>
            </div>
            <div id="foot">
                客服QQ：1634787091
            </div>
        </div>
    </body>
</html>
