<tr>
    <td><%= f.label :name,"活动名称：" %></td>
    <td>
    	<%= f.text_field :name, :size=>50 %>
		<%= f.error_message_on  :name %>
	</td>
</tr>
<tr>
    <td width="10%"><%= f.label :url,"链接地址：" %></td>
    <td>
    	<%= f.text_field :url, :size=>50 %>
		<%= f.error_message_on  :url %>
	</td>
</tr>
<tr>
    <td><%= f.label :image_url,"图片链接：" %></td>
    <td>
    	<%= f.text_field :image_url, :size=>50 %>
		<%= f.error_message_on  :image_url %>
	</td>
</tr>
<tr>
    <td><%= f.label :begin_time,"开始时间：" %></td>
    <td>
    	<%= f.text_field :begin_time %>
		<%= f.error_message_on  :begin_time %>
	</td>
</tr>
<tr>
    <td><%= f.label :end_time, "结束时间："%></td>
    <td>
    	<%= f.text_field :end_time %>
		<%= f.error_message_on  :end_time %>
	</td>
</tr>
<tr>
    <td colspan="2">&nbsp;
	</td>
</tr>
<tr>
    <td colspan="2">
    	<input type="submit" name="submit" value="提交">
		<%= link_to '返回', mms_events_path%>
	</td>
</tr>

<script type="text/javascript">
	$(function() {
		$.datepicker.regional['zh-CN'] = {
			closeText: '关闭',
			prevText: '&#x3c;上月',
			nextText: '下月&#x3e;',
			currentText: '今天',
			monthNames: ['一月','二月','三月','四月','五月','六月',
			'七月','八月','九月','十月','十一月','十二月'],
			monthNamesShort: ['一','二','三','四','五','六',
			'七','八','九','十','十一','十二'],
			dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
			dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
			dayNamesMin: ['日','一','二','三','四','五','六'],
			weekHeader: '周',
			dateFormat: 'yy-mm-dd',
			firstDay: 1,
			isRTL: false,
			showMonthAfterYear: true,
			yearSuffix: '年'};
		$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
		$("#mms_event_begin_time, #mms_event_end_time").datepicker({ dateFormat: 'yy-mm-dd'});
	});
</script>

