<%= error_messages_for 'advertisement' %>

<table class="ft" border="1">
<!--[form:advertisement]-->
<tr>
	<td>名称</td>
	<td><%= text_field 'advertisement', 'name'  %></td>
</tr>

<tr>
	<td>代码</td>
	<td><%= text_field 'advertisement', 'code'  %></td>
</tr>

<tr>
	<td>尺寸</td>
	<td><%= text_field 'advertisement', 'size'  %></td>
</tr>

<tr>
	<td>轮播数量</td>
	<td><%= text_field 'advertisement', 'num'  %></td>
</tr>
<!--[eoform:advertisement]-->

</table>