<li class="user2" style="clear:both">
	<img class='logo' src="http://www.mamashai.com<%= user_item.logo.thumb48 %>" width=48 height=48/>
	<div class="username">
		<%= link_user user_item%>
	</div>
	<div>
		<% if user_item.first_kid %>
		<%= APP_CONFIG["kid_#{user_item.first_kid.gender}"] %><%= user_item.first_kid.age %>
		<% else %>
		没有孩子
		<% end %>
	</div>
	<% if @user %>
	<% if user_item.id == @user.id %>
	我
	<% else %>
	<% if @user.has_follow?(user_item.id) %>
	<img src="/images/icons/follow_success.gif"/><% else %> <span class="concern" id="follow_hot_user_<%= user_item.id%>"><%= link_to '关注', {:controller=>"ajax", :action=>"create_follow_user", :id=>user_item.id}, {:remote=>true, :updater=>"follow_hot_user_#{user_item.id}"}%></span>
	<% end %>
	<% end %>
	<% else %>
	<span class="concern" ><a href="/account/signup/<%= user_item.id%>"><%= APP_CONFIG["focus_him_#{user_item.gender}"]%></a></span>
	<% end %>
</li>