<%= error_messages_for 'advertisement' %>

<table class="ft" border="1">
<!--[form:advertisement]-->
<tr>
	<td>代码</td>
	<td><%= text_field 'vip', 'code'  %></td>
</tr>

<tr>
	<td>价值</td>
	<td><%= text_field 'vip', 'value'  %></td>
</tr>

<tr>
	<td>已用</td>
	<td><%= text_field 'vip', 'used'  %></td>
</tr>

<tr>
	<td>卡主姓名</td>
	<td><%= text_field 'vip', 'holder'  %></td>
</tr>
<!--[eoform:advertisement]-->

</table>