<DIV id="chanel_content">
	<div class="navigate_tab" id="n">
		<ul class="class1">
			<li <%=raw  'class="current"' if !params[:tp] || params[:tp] == "all" %>>
				<a href="<%= url_for :tp=>"all", :anchor=>'n' %>">全部记录</a>
			</li>
			<li <%=raw  'class="current"' if params[:tp] == "ilike" %>>
				<a href="<%= url_for :tp=>"ilike", :anchor=>'n' %>">我喜欢的</a>
			</li>
			<li <%=raw  'class="current"' if params[:tp] == "like" %>>
				<a href="<%= url_for :tp=>"like", :anchor=>'n' %>">别人喜欢我的</a>
			</li>
		</ul>
	</div>
				
	<% for post in @posts %>
		<%= render :partial=>"/share/post", :locals=>{:post=>post} %>
	<% end %>
	<%= will_paginate @posts %>
</DIV>