<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">导购平台-商品网站<span style="float: right; margin-right: 10px;"><%= link_to '添加商品网站', '/mms/gous/site_new' %>
            </span></h1>
        <div style="text-align:center;" class="green">
            <%= flash[:notice] %>
        </div>
        <div id="page_count">
            <span style="float:right;">共有<b class="blue"><%=h @sites.total_entries %></b>条记录</span>
        </div>
        <% form_tag "/mms/gous/site_search", {:method => "get"} do %>
        <div>
            搜索：<%= text_field_tag "keyword",@keyword %><%= submit_tag "查询" %>
        </div>
        <% end %>
        <div class="clear">
        </div>
        <table class="grid">
            <tr>
                <th width="5%">
                    序号
                </th>
                <th width="10%">
                    名称
                </th>
				<th width="10%">
                    图片
                </th>
                <th width="5%">
                    URl地址
                </th>
				<th width="5%">
                    商品总数
                </th>
                <th width="10%">
                    开始时间
                </th>
                <th width="10%">
                    创建时间
                </th>
                <th width="10%">
                    修改时间
                </th>
				<th width="5%">
                    是否发布
                </th>
                <th width="10%">
                    操作
                </th>
            </tr>
            <% if @sites.blank? %>
            <tr>
                <td colspan=9>
                    <b>暂无记录</b>
                </td>
            </tr>
            <% else %>
            <% @sites.each_with_index do |site,index| %>
            <tr>
                <td>
                    <%=(index+1).to_s %>
                </td>
                <td>
                    <%= site.name %>
                </td>
				<td>
					<%=logo_tag site,{:version => "thumb97", :url=> site.url} %>
				</td>
                <td>
                    <%= site.url %>
                </td>
				 <td>
                    <%= site.gous_count %>
                </td>
                <td>
                    <%=site.open_at.try(:strftime,"%H-%m-%d %H:%M:%S") %>
                </td>
                <td>
                    <%=site.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                </td>
                <td>
                    <%=site.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
                </td>
				<td>
                    <% if site.state == "publish" %>
                    <img src="/images/icons/icons_01.png" alt="/images/icons/icons_01.png"><% else %>
                    <img src="/images/icons/icon_25.gif" alt="/images/icons/icon_25.gif"><% end %>
                </td>
                <td>
                    <%= link_to '修改', "/mms/gous/site_edit/#{h site.id}", {:style => "color:#329BCB;"} %>
                    <%= link_to '删除', "/mms/gous/site_destroy/#{h site.id}", {:confirm => '确认删除吗？', :method => :delete, :style => "color:#329BCB;"} %>
					<% if site.state == "publish" %>
                    <%= link_to '取消发布', {:action => 'site_unpublish', :id => site.id}, {:style => "color:#329BCB;"} %>
                    <% else %>
                    <%= link_to '发布', {:action => 'site_publish', :id => site.id}, {:style => "color:#329BCB;"} %>
                    <% end %>
                </td>
            </tr>
            <% end %>
            <%end %>
        </table>
        <div class="book_page">
            <%=will_paginate @sites %>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
