<table class="grid">
    <tbody>
        <tr height="40">
            <td class="t01" width="100">
                <span class="red">*</span>
                礼物名称： 
            </td>
            <td class="t02">
                <%=text_field :gift, :name, :class=>'default_input' %>
				<%=error_message_on :gift,:name %>
            </td>
        </tr>
        <tr height="40">
            <td class="t01" width="100">
                <span class="red">*</span>
                礼物图片： 
            </td>
            <td class="t02">
               <%= upload_column_field :gift, :logo,:class=>'default_input' ,:style=>"height:auto;"%>
			   <%=error_message_on :gift,:logo %>
            </td>
        </tr>
		<tr height="40">
            <td class="t01" width="100">
                <span class="red">*</span>
                礼物积分： 
            </td>
            <td class="t02">
                <%=text_field :gift, :score, :class=>'default_input' %>
				<%=error_message_on :gift,:score %>
            </td>
        </tr>
    </tbody>
</table>