<%= render :partial=>"/friends/friend_nav" %>

<div class="mms_messages_new"> 
	<div id="follows_search">
		<h1 class="title red">
         <%if @is_me %>我<%else %><a class="user" href="<%=user_url(@space_user)%>"><%=@space_user.name %></a>
            <%end %>的粉丝(<%=@fans.total_entries %>)
    	</h1>
    </div>
    <ul class="shine_list">
        <% user_ids = [] %>
        <% for follow in @follows %>
        <% user_ids << follow.id %>
        <li class="list">
            <%=render :partial=>'/follows/list_user',:locals => {:user => follow} %> 
            <%=render :partial=>'/follows/list_user_tools',:locals => {:user => follow} %> 
            <div class="clear">
            </div>
        </li>
        <% end %>
    </ul>
    <% if @follows.blank? %>
    <div class="ifnull">
        没有好友
    </div>
    <% else %> 
    <div class="ftop">
        <a href="javascript:void(0);" onclick="window.scrollTo(0,0)">返回顶部</a>
    </div>
    <% end %>
    <div class="clear">
    </div>
</div>
<%=will_paginate @follows %>
<div class="clear">
</div>

<div class1="mms_help_infor">
    <span class="text"><b>什么是“好友”？</b>
        <br/>
        你关注的人同时关注了你，你们就成为了好友，在妈妈晒一些不公开的信息可以设置成自己可见或好友可见。
    </span>
</div>