<h1>Editing apple_comment</h1>

<%= form_tag :action => 'update', :id => @apple_comment do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @apple_comment %> |
<%= link_to 'Back', :action => 'list' %>
