    <div id="middle">
        <div id="css_mainbody">
            <h1 class="title">个人信息修改</h1>
            <table class="grid">
            	<%= form_tag({:controller=>"users", :action=>"update", :id=>@user}) do%>
                    <tr>
                        <td>登录账号</td>
                        <td><%=  @user.username %></td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td>
                        	<%= password_field "mms_user", "password", :size=>20, :value=>''%>
						</td>
                    </tr>
					<tr>
                        <td>真实姓名</td>
                        <td>
                        	<%= text_field "mms_user", "name", :size=>20%>
							<%= hidden_field_tag :path, '/mms/login/my'%>
						</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" name="submit" value="提交"></td>
                    </tr>
				<% end %>
            </table>
        </div>
        <div class="clear"></div>
    </div>