<h1>asks/answers 查看单条问题的回来列表。 </h1><%= link_to "返回到列表", "/api/test" %>
<pre>
  [路径]: asks/answers
  [HTTP请求方式]: GET
  [URL]: http://your.api.domain/asks/answers.json
  [是否需要登录]： true

参数

    * source 申请应用时分配的AppKey，调用接口时候代表应用的唯一身份。
    * id 问答id
    * count 指定每页返回的记录条数。默认值10
    * page 页码,默认是1。

示例

  curl "http://your.api.domain/asks/answers.json?source=appkey"
</pre>
<hr/>
<%= form_tag "/api/asks/answers.json" ,{:method=>:get} do %>
  <%= render :partial => '/api/test/login' %>
  source: <%= text_field_tag "source" %><br/>
  id: <%= text_field_tag "id" %><br/>
  count: <%= text_field_tag "count" %><br/>
  page: <%= text_field_tag "page" %><br/>
  <%= submit_tag "提交"%>
<% end -%>
