<h1>direct_messages/destroy 删除一条私信。</h1><%= link_to "返回到列表", "/api/test" %>
<pre>
  [路径]: direct_messages/destroy
  [HTTP请求方式]: POST
  [URL]: http://your.api.domain/direct_messages/destroy.json
  [是否需要登录]： true

参数

    * source 申请应用时分配的AppKey，调用接口时候代表应用的唯一身份。
    * username 私信接收方昵称。(必选)
    * text 要发送的消息内容。(必选)

示例

  curl -u "username:password"
  "http://your.api.domain/direct_messages/destroy.json?source=appkey&id=1234"

注意事项

  发送成功将返回ok，失败返回error
</pre>
<hr/>
<%= form_tag "/api/direct_messages/destroy.json" ,{:method=>:get} do %>
  <%= render :partial => '/api/test/login' %>
  source: <%= text_field_tag "source" %><br/>
  id: <%= text_field_tag "id" %><br/>
  <%= submit_tag "提交"%>
<% end -%>

