<h1>destroy 取消对某用户的关注。</h1><%= link_to "返回到列表", "/api/test" %>
<pre>
  [路径]: friendships/destroy
  [HTTP请求方式]: POST/DELETE
  [URL]: http://your.api.domain/friendships/destroy.json
  [是否需要登录]： true

参数

    * source 申请应用时分配的AppKey，调用接口时候代表应用的唯一身份。
    * :id 要关注的用户ID

示例

  curl -u "username:password" -d "id=7701"
  "http://your.api.domain/friendships/destroy.json?source=appkey"

注意

    * 如果目的用户不存在，则返回error
    * 操作成功则返回ok
</pre>
<hr/>
<%= form_tag "/api/friendships/destroy.json" ,{:method=>:post} do %>
  <%= render :partial => '/api/test/login' %>
  source: <%= text_field_tag "source" %><br/>
  id: <%= text_field_tag "id" %><br/>
  <%= submit_tag "提交"%>
<% end -%>
