<h1>upload 上传图片并发布一条微博信息</h1><%= link_to "返回到列表", "/api/test" %>
<pre>
  [路径]:statuses/upload
  [HTTP请求方式]: POST
  [URL]: http://your.api.domain/statuses/upload.json
  [是否需要登录]： true

  参数
  
      * source 申请应用时分配的AppKey，调用接口时候代表应用的唯一身份。
      * status 要发布的微博消息文本内容
      * pic 要上传的图片。仅支持JPEG,GIF,PNG图片,为空返回400错误。目前上传图片大小限制为<5M。
  
  示例
  
    curl -u "username:password" -F "pic=@1.png" -F "status=分享图片"
    "http://your.api.domain/statuses/upload.json?source=appkey"

</pre>
<hr/>
<%= form_tag "/api/statuses/upload.json" ,{:method=>:post,:multipart=>true } do %>
  <%= render :partial => '/api/test/login' %>
  source: <%= text_field_tag "source" %><br/>
  status: <%= text_field_tag "status" %><br/>
  pic: <%= file_field_tag "pic" %><br/>
  <%= submit_tag "提交"%>
<% end -%>
