<h1>trends statuses 获取某话题下的微博消息。 </h1><%= link_to "返回到列表", "/api/test" %>
<pre>
  [路径]: trends/statuses
  [HTTP请求方式]: GET
  [URL]: http://your.api.domain/trends/statuses.json
  [是否需要登录]： true

参数

    * source 申请应用时分配的AppKey，调用接口时候代表应用的唯一身份。
    * name 话题关键词。为空则获取所有话题中的微博信息
    * count 指定每页返回的记录条数。默认值10
    * page 页码,默认是1。

示例

  curl -u "username:password"
  "http://your.api.domain/trends/statuses.json?source=appkey&count=5&page=2&name=宝宝"
</pre>
<hr/>
<%= form_tag "/api/trends/statuses.json" ,{:method=>:get} do %>
  <%= render :partial => '/api/test/login' %>
  source: <%= text_field_tag "source" %><br/>
  name: <%= text_field_tag "name" %><br/>
  count: <%= text_field_tag "count" %><br/>
  page: <%= text_field_tag "page" %><br/>
  <%= submit_tag "提交"%>
<% end -%>
