<div style='padding-left:20px; padding-top:15px;'>
	<div style='font-size:16px; font-family:微软雅黑; font-size:20px; color:#4c4948; padding-bottom:10px;'>
		相关应用
		<% if app_count.to_i > 2 %>
		<div style='display:inline; float:right; padding-right:20px; font-size:13px; margin-top:5px;'>
			<%= link_to_remote "换换", :url => {:action => "change_baidu_app", :id => ebook_topic.id, :app_id => baidu_app.id, :app_count => app_count} , :update => 'div_baidu_app' %>
		</div>
		<% end %>
	</div>
</div>
<div style="margin: 6px; font-size: 13px;">
	<table>
		<tr>
			<td style='padding-right:10px; padding-left:5px;'>
				<img src='<%= baidu_app.image_url %>' width='54' height='54'  style="border:1px solid #ccc; padding:1px;" />
			</td>
			<td valign='top'>
				<div>
					<%= baidu_app.app_name %>
				</div>
				<div style='color:#999999'>
					<%= baidu_app.app_desc %>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan='2' align='center'>
				<a href='http://<%= baidu_app.app_url %>' target="_blank">
					<img src='/images/ebook/i_try.png'/>
				</a>
			</td>
		</tr>
	</table>
</div>