<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">
        	专栏管理
			<span style="float: right; margin-right: 10px;"><a href="/mms/column/new">添加新的专栏作者</a></span>
		</h1>
        <table class="grid">
            <thead>
                <tr>
                    <th>
                        登录名
                    </th>
                    <th>
                        真实姓名
                    </th>
                    <th width="25%">
                        介绍
                    </th>
                    <th>
                        专栏数
                    </th>
					<th>
                        文章数
                    </th>
					<th>
						类别
					</th>
                    <th width="25%">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                <% for author in @authors %>
                <tr>
                    <td>
                    	<%= author.user.email %></a>
	                </td>
					<td>
                    	<%= author.user.name %></a>
	                </td>
					<td>
                    	<%= author.desc %></a>
	                </td>
	                <td>
		                <%= ColumnBook.count(:conditions=>"user_id = #{author.user_id}") %>
		            </td>
		            <td>
		                <%= ColumnChapter.count(:conditions=>"user_id = #{author.user_id}") %>
		            </td>
					<td>
						<% for id in author.category.split(',') %>
							<%= ColumnCategory.find(id).name %>
						<% end if author.category%>
					</td>
		            <td>
		                <%= link_to "修改", {:action=>"edit", :id=>author.id} %>
						<a href="/mms/column/destroy/<%= author.id %>" onclick="return confirm('确认要删除吗？');">删除</a>
            <%= link_to "推荐", {:action=>"recommend",:id => author.id}%>
		            </td>
            	</tr>
            <% end %>
        </tbody>
        </table>
        <%= will_paginate @authors %>
    </div>
    <div class="clear">
    </div>
</div>
