
<table class="form_table">
    <tbody>
        <tr height="40">
            <td width="100">
                <span class="red">*</span>
                原密码： 
            </td>
            <td >
                <%=password_field :user, :password_old,:class=>'input5' %>
				<%=error_message_on :user,:password_old %>
            </td>
        </tr>
        <tr height="40">
            <td>
                <span class="red">*</span>
                新密码： 
            </td>
            <td >
                <%=password_field :user, :password,:class=>'input5' %>
				<%=error_message_on :user,:password %>
            </td>
        </tr>
		<tr height="40">
            <td>
                <span class="red">*</span>
                确认密码： 
            </td>
            <td>
                <%=password_field :user, :password_confirmation,:class=>'input5' %>
				<%=error_message_on :user,:password_confirmation %>
            </td>
        </tr>
    </tbody>
</table>