<table class="grid">
    <tbody>
        <tr height="40">
            <td class="t07" width="70">
            </td>
            <td class="t02">
            </td>
        </tr>
        <tr height="40">
            <td class="t06" width="70">
                当前头像： 
            </td>
            <td class="t02">
                <div class="logo_pic" style="width:140px;">
                    <%= logo_tag(@user,{:version=>'thumb140'}) if @user.logo.present?%>
                    <div class="pic_size">
                        140*140像素
                    </div>
                </div>
                <div class="logo_pic" style="width:90px;">
                    <%= logo_tag(@user,{:version=>'thumb48'}) %>
                    <div class="pic_size">
                        48*48
                    </div>
                </div>
                <div class="logo_pic" style="width:30px;">
                    <%= logo_tag(@user,{:version=>'thumb30'}) %>
                    <div class="pic_size">
                        30*30
                    </div>
                </div>
                <div class="clear">
                </div>
            </td>
        </tr>
        <tr height="40">
            <td class="t01" width="70">
            </td>
            <td class="t02">
                <%= upload_column_field :user, :logo,:class=>'default_input' %>
            </td>
        </tr>
        <tr height="40">
            <td class="t01" width="70">
            </td>
            <td class="t02">
                支持：jpg、jpeg、png、gif、bmp 格式，大小不超过5M
            </td>
        </tr>
    </tbody>
</table>
<br/>
<div  style="text-align: center;">
   <div style="margin: 20px; text-align: center;">
		<%= submit_tag "上传", :class=>"button2"%>
   </div>
</div>
<style>
	div.logos {margin: 10px 0px;}
	div.logos div.logo {float: left; width: 48px height: 48px; margin: 0px 10px 10px 0px;}
	div.logos div.logo img {width: 48px; height: 48px; padding: 1px; border: 1px solid #ccc;}
	div.logos div.current img{border: 2px solid #65B954; padding: 0px;}
</style>
<script>
	function select_logo(id)
	{
		$(".logo").removeClass('current');
		$("#logo" + id).addClass('current');
		$("#touxiang").val(id);
	}
</script>
<div>
	<%= hidden_field_tag "touxiang"%>
	<span>直接选个头像吧</span>
	<div class="logos">
		<% 1.upto(47) do |i| %>
			<div class="logo" id="logo<%=i%>">
				<a href="javascript:select_logo(<%= i%>)"><img src="/images/login/logo/<%=i%>.jpg"/></a>
			</div>
		<% end %>
	</div>
	<div class="clear"></div>
</div>
