<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">商品管理
		<span style="float: right; margin-right: 10px;">
			<%= link_to '新添商品', :action=>:new %>
        </span>
		</h1>

        <% for category in ACategory.all %>
            <%= link_to_if params[:category_id] != category.id.to_s,  category.name, :action=>"index", :category_id=>category.id %>
        <% end %>
        <%= link_to_if params[:is_hide] != "1", "下架", :action=>"index", :is_hide=>"1" %>

        <%= form_tag({:action=>'index'},:method=>"get") do %>
          商品ID：<%= text_field_tag :id %>
          商品代码：<%= text_field_tag :code %>
          <%= submit_tag "搜索" %>
        <% end %>


        <table class="grid">
            <thead>
                <tr>
                    <th>
                        编码
                    </th>
                    <th>
                        名称
                    </th>
                    <th>
                        主图
                    </th>
                    <th>
                        其他主图
                    </th>
                    <th>
                        资讯
                    </th>
                    <th>
                        价格
                    </th>
                    <th colspan=3>
						操作
					</th>
                </tr>
            </thead>
            <% for product in @products %>
			<tr>
                <td><%= product.id %> </br> <%= product.code %></td>
				<td><%= product.name %></td>
				<td>
                    <% if product.logo %>
					<img src="<%= product.logo.thumb200 %>" border=0 width="200px"/>
                    <% end %>
				</td>
				<td width="330px">
                    <% for logo in product.logos %>
                        <img src="<%= logo.path.thumb100 %>" border=0 width="100px"/>
                    <% end %>

                    <%= form_tag({:action=>"add_logo", :id=>product, :page=>params[:page]}, {:multipart => true, :remote=>true, :updater=>"updater#{product.id}", :id=>"updater#{product.id}"}) do %>
                      <%= upload_column_field :product, :logo %>
                      <%= submit_tag "上传" %>
                    <% end %>
                    <%= link_to "全删", {:action=>"delete_logos", :id=>product.id, :page=>params[:page]}, {:confirm=>"确定删除吗？"} %>
                </td>
                <td>
                    <% for article in product.articles %>
                        <p><a target="_blank" href="/mobile/article/<%= article.id %>"><%= article.title %></a> <%= link_to "删", :action=>"delete_article", :id=>product, :article_id=>article.id, :page=>params[:page] %><p>
                    <% end %>
                    <%= form_tag :action=>"add_article", :id=>product, :page=>params[:page] do %>
                        <%= text_field_tag :article_id, "", {:style=>"width: 60px;"} %>
                        <%= submit_tag "添加" %>
                    <% end %>
                </td>
                <td><%= product.price %> / <%= product.o_price %></td>
				<td><%= link_to product.position.to_i > 1000 ? "取消置顶" : "置顶", :action=>"top", :id=>product, :page=>params[:page] %></td>
                <td><%= link_to "修改", :action=>"edit", :id=>product, :page=>params[:page] %></td>
				<td><%= link_to "删除", :action=>"delete", :id=>product, :pae=>params[:page] %></td>
			</tr>
			<% end %>
        </table>
        <%= will_paginate @products %>
    </div>
    <div class="clear">
    </div>
</div>
