<% for post in @posts %>
<div class="post">
	<div class="logo">
		<img src="http://www.mamashai.com<%= post.user.logo.thumb48.url %>"/>
	</div>
	<div class="author"><%= post.user.name %></div>
	<div class="publish_time">
			<% if post.created_at.hour == 0 && post.created_at.min == 0 && post.created_at.sec == 0 %>
                补记<%= post.created_at.strftime("%Y年%m月%d日")%>
            <% else %>
                <%=refer_time(post.created_at) %> 
            <% end %>
            <%= kid_age(post.user, post.created_at) %>
	</div>
	<div class="content">
		<div class="body"><%= post_content(post.content) %></div>
		<% if post.logo %>
			<div class="picture"><img src="http://www.mamashai.com<%= post.logo.thumb120.url %>" /></div>
		<% end %>
		<div class="detail">
			<% if post.comments_count > 0 %>
				评论：<%= post.comments_count %>
			<% end %>
		</div>
	</div>
	<div class="clear line"></div>
</div>
<% end %>

<div class="page">
	<% if params[:page].to_i > 1 %>
    	<a href="/qing/posts?page=<%= params[:page].to_i - 1 %>" hidefocus="true">上一页</a>
    <% end %>
    <% if params[:page].to_i < 100 %>
    	<a href="/qing/posts?page=<%= params[:page].to_i + 1 %>"  hidefocus="true">下一页</a>
    <% end %>
</div>