<ul class="shine_local">
    <% if user.is_fans=='1' %>
    <li>
        <img src="/images/icons/relation.gif"/>
    </li><% end %>
    <li id="button_cancel_<%=user.id%>">
        <%= link_to('移除粉丝', {:action =>:delete_fans_user,:controller=>:ajax,:id=>user.id},{:remote=>true, :updater =>"button_cancel_#{user.id}", :class=>'button_link'}) %>
    </li>
    <% unless user.is_fans == '1' %>
    <li id="add_follow_user_<%=user.id%>">
        <%= link_to(APP_CONFIG['add_follow'], {:action =>:create_follow_user,:controller=>:ajax,:id=>user.id}, {:remote=>true, :updater => "add_follow_user_#{user.id}", :class=>'button_link'}) %>
    </li>
    <% end %>
    <li>
        <a id="button_group_<%=user.id%>" class="button_link" href="javascript:void(0);" onclick="show_url_box('/users/<%=@user.id%>/fans/<%=user.id%>/edit_group', '设置分组');"><% if user.fans_remark.blank? %>设置分组<% else %>修改分组<% end %></a>
    </li>
    <li>
        <a id="button_nick_name_<%=user.id%>" class="button_link" href="javascript:void(0);" onclick="show_url_box('/users/<%=@user.id%>/fans/<%=user.id%>/edit_nick_name', '设置昵称', 432, 242);"><% if user.fans_nick_name.blank? %>标注昵称<% else %>修改昵称<% end %></a>
    </li>
    <li>
        <a class="button_link" href="javascript:void(0);" onclick="show_url_box('/ajax/new_message/<%=user.id%>', '发私信', 420, 320);">发私信</a>
    </li>
    <li>
        <a class="button_link" href="/gifts/give_gifts/<%=user.id%>">赠送礼物</a>
    </li>
</ul>
