<div id="sidebar">
    <%=render :partial=> '/sidebar/home_user' %>
    <%=render :partial=> '/sidebar/home_nav' %>
    <%=render :partial=>'/sidebar/search' %>
    <%=render :partial=>'/sidebar/home_users' %> 
    <%=render :partial=>'/sidebar/suggestion' %>
    <div class="clear">
    </div>
</div>
