好友<%=@user.name%>邀请你加入妈妈晒！<br/><br/>
 
来妈妈晒，随时随地晒宝贝、晒经验、晒心情、晒商品！请点击以下链接注册：<br/><br/>
<a href="http://www.mamashai.com/account/signup/<%=@user.id%>?email=<%=@invite_code.email%>&code=<%=@invite_code.invite_code%>">
http://www.mamashai.com/account/signup/<%=@user.id%>?email=<%=@invite_code.email%>&code=<%=@invite_code.invite_code%>
</a> <br/><br/>
(如果不能点击该链接地址，请复制并粘贴到浏览器的地址输入框)<br/><br/>

妈妈晒团队<br/>
www.mamashai.com<br/><br/>

----------------------晒一点，就发光！------------------------<br/>
妈妈晒相信：<br/>
最好的科技和创想，体现于是否能造福后代。<br/>
每个人都可能成就发光的人生！<br/>

