<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>50本育儿宝典免费下载</title>
</head>
<body style="margin:0px;padding:0px;">
<table class="wapper" style="width:734px;margin:0px auto;padding:0;border-collapse:collapse;empty-cells:show;overflow:hidden;">
    <tr>
        <td><table width="734" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="height:76px; background:#F5D3EB;"><img  src="http://www.mamashai.com/images/ads/email/book_logo.png" style="border:0;"/></td>

                </tr>
            </table>
             <table style="height: 20px; line-height: 20px; background: none repeat scroll 0% 0% rgb(255, 172, 0); font-size: 13px; color: rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 0, 0); width: 100%;" class="nav">
                    <tr>
                        <td style="width: 100px; padding-left: 10px;" class="c1"></td>
                    </tr>
               </table>
            </td>
    </tr>

    <!--head-->
    <tr>
        <td><table width="734" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><a href="<%= "http://www.mamashai.com/account/signup_email?email=#{@email}&event=book_one&ad_keyword=145" %>" title="" target="_blank"><img src="http://www.mamashai.com/images/ads/email/books_pic_1.png" style="height:135px;border:0;"/></a></td>
                </tr>
               <tr>
                    <td><a href="<%= "http://www.mamashai.com/account/signup_email?email=#{@email}&event=book_one&ad_keyword=145" %>" title="" target="_blank"><img src="http://www.mamashai.com/images/ads/email/books_pic_2.png" style="height:176px;border:0;"/></a></td>
                </tr>

                <tr>
                    <td><a href="<%= "http://www.mamashai.com/account/signup_email?email=#{@email}&event=book_one&ad_keyword=145" %>" title="" target="_blank"><img src="http://www.mamashai.com/images/ads/email/books_pic_3.png" style="height:193px;border:0;"/></a></td>
                </tr>
                 <tr>
                    <td><a href="<%= "http://www.mamashai.com/account/signup_email?email=#{@email}&event=book_one&ad_keyword=145" %>" title="" target="_blank"><img src="http://www.mamashai.com/images/ads/email/books_pic_4.png" style="height:171px;border:0;"/></a></td>
                </tr>
                 <tr>
                    <td><a href="<%= "http://www.mamashai.com/account/signup_email?email=#{@email}&event=book_one&ad_keyword=145" %>" title="" target="_blank"><img src="http://www.mamashai.com/images/ads/email/books_pic_5.png" style="height:179px;border:0;"/></a></td>
                </tr>

            </table></td>
    </tr>
    <!--content-->
    <tr>
        <td><table style="width:100%;  background:url(http://www.mamashai.com/images/ads/week/foot_bg.gif) no-repeat;font-size:14px;">
                <tr>
                    <td style="text-align: right; color:#333;height:25px;">妈妈晒团队 www.mamashai.com</td>
                </tr>

                <tr>
                    <td style="text-align: right;color:#333;height:25px;">2010年7月23日</td>
                </tr>
            </table></td>
    </tr>
</table>

</body>
</html>

