亲爱的 <%=@user_signup.name%>，<br/><br/>
感谢您注册妈妈晒，请点击以下链接完成注册：<br/><br/>
<a href="http://www.mamashai.com/account/verify/<%=@user_profile.uuid%>">
http://www.mamashai.com/account/verify/<%=@user_profile.uuid%>
</a><br/><br/>
(如果不能点击该链接地址，请复制并粘贴到浏览器的地址输入框)<br/><br/>

请妥善保存好您在妈妈晒的注册信息：<br/>
----------------------------------------------<br/>
登录邮箱：<%=@user_signup.email%><br/>
登录密码：<%=@user_signup.password%><br/>
----------------------------------------------<br/>
登录密码已经被加密处理，一旦忘记密码只有使用找回密码功能来重设密码。<br/><br/>

 
妈妈晒是中国最好的育儿类微博网站，在这里随时随地记录生活、记录成长！<br/><br/>
 
 
妈妈晒团队<br/>
www.mamashai.com<br/><br/>

----------------------晒一点，就发光！------------------------<br/>
妈妈晒相信：<br/>
最好的科技和创想，体现于是否能造福后代。<br/>
每个人都可能成就发光的人生！<br/>