<%= stylesheet_link_tag '/javascripts/cropper/imgareaselect-default' %>
<%= javascript_include_tag 'ji' %>
<input type="hidden" id="logo_size" name="logo_size" /><input type="hidden" id="logo_left" name="logo_left" /><input type="hidden" id="logo_top" name="logo_top" />
<p style="text-align: center; float: left; width: 480px; overflow: hidden;">
    <%= logo_tag(@user,{:id=>'large_logo'}) %>
</p>
<table class="grid" style="padding-top:20px; width: 140px;">
    <tbody>
    	<tr height="40">
            <td class="t02">
                <div class="logo_pic" style="width:140px;">
                    <div style="width:140px;height:140px;overflow:hidden;">
                        <%= logo_tag(@user,{:id=>'logo140'}) %>
                    </div>
                    <div class="pic_size">
                        140*140像素
                    </div>
                </div>
                <div class="clear"></div>
                <div class="logo_pic" style="width:90px;">
                    <div class="mid_logo_box" style="width:48px;height:48px;overflow:hidden;">
                        <%= logo_tag(@user,{:id=>'logo48'}) %>
                    </div>
                    <div class="pic_size">
                        48*48
                    </div>
                </div>
                 <div class="clear"></div>
                <div class="logo_pic" style="width:30px;">
                    <div style="width:30px;height:30px;overflow:hidden;">
                        <%= logo_tag(@user,{:id=>'logo30'}) %>
                    </div>
                    <div class="pic_size">
                        30*30
                    </div>
                </div>
                <div class="clear">
                </div>
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript"> 
   show_logo_previews(); 
</script>
