<%= error_messages_for 'fayu' %>

<table class="ft" border="1">
<!--[form:fayu]-->
<tr>
	<td>月份</td>
	<td><%= text_field 'fayu', 'month' %></td>
</tr>

<tr>
	<td>发育指标</td>
	<td><%= text_area 'fayu', 'fayu', :rows=>10, :cols=>90  %></td>
</tr>

<tr>
	<td>营养指南</td>
	<td><%= text_area 'fayu', 'yingyang', :rows=>10, :cols=>90 %></td>
</tr>

<tr>
	<td>亲子游戏</td>
	<td><%= text_area 'fayu', 'qinzi', :rows=>10, :cols=>90  %></td>
</tr>

<tr>
	<td>注意事项</td>
	<td><%= text_area 'fayu', 'zhuyi', :rows=>10, :cols=>90  %></td>
</tr>

<tr>
	<td>儿童教养</td>
	<td><%= text_area 'fayu', 'jiaoyang', :rows=>10, :cols=>90  %></td>
</tr>

<tr>
	<td>智力开发</td>
	<td><%= text_area 'fayu', 'zhili', :rows=>10, :cols=>90  %></td>
</tr>
<!--[eoform:fayu]-->

</table>