<div id="middle">
    <div id="css_mainbody">
        <h1 class="title">采购管理
        </h1>
        <table class="grid">
            <thead>
                <tr>
                    <th>
                        订单号
                    </th>
                    <th>
                        用户
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        价格 - 晒豆抵扣 = 实付
                    </th>
                    <th>
                        下单时间
                    </th>
                    <th>
                        付款时间
                    </th>
                </tr>
            </thead>
            <% for order in @orders %>
                <tr style="background-color: #ddd">
                    <td><%= order.id %></td>
                    <td><%= order.user.name %></td>
                    <td>
                        <% if order.status == "待付款" %>
                            <span style="color: green"><%= order.status %></span>
                        <% else %>
                            <%= order.status %>
                        <% end %>
                    </td>
                    <td><%= order.price %> - <%= order.score_amount %> = <%= order.payment %></td>
                    <td><%= order.created_at.to_s(:db)%></td>
                    <td><%= order.pay_at.to_s(:db) if order.pay_at%></td>
                </tr>
                <tr>
                    <td colspan=2 style="width:120px">
                        <%= order.receiver %>
                    </td>
                    <td>
                        <%= order.id_name %>
                    </td>
                    <td>
                        <%= order.id_code %>
                    </td>
                    <td colspan=2>
                        <% if order.id_logo1 %>
                            <%= link_to image_tag(order.id_logo1.url, :style=>"width:50px"), :action=>"download", :id=>order.id, :t=>1 %>
                        <% end %>
                        <% if order.id_logo2 %>
                            <%= link_to image_tag(order.id_logo2.url, :style=>"width:50px"), :action=>"download", :id=>order.id, :t=>2 %>
                        <% end %>
                    </td>
                </tr>
                <% for detail in order.details %>
                    <tr>
                        <td>
                            <img style="width:50px; height: 50px;" src="<%= detail.product.logo.thumb100.url %>"/></br>
                            <%= detail.product.code %>
                        </td>
                        <td>
                            <%= detail.price %>*<%= detail.count %>
                        </td>
                        <td style="width:200px">
                            <%= detail.product.name %>
                        </td>
                        <td style="width:200px">
                            <%= detail.product.english_name %>
                        </td>
                        <td colspan=2 style="text-align: left;">
                            <% @detail = detail %>
                            <%= form_tag({:action=>"save_buy_info", :page=>params[:page], :id=>detail.id}, :multipart => true ) do %>
                                采购时间：<%= date_select "detail", "buy_date", {:use_month_numbers => true }%></br>
                                采购价格：<%= text_field "detail", "buy_price", {:style=>"width:80px;"}%></br>
                                采购订单：<%= text_field "detail", "buy_channel", {:style=>"width:80px;"}%></br>
                                采购截图1：<%= upload_column_field :detail, :buy_logo1 %> 
                                <% if @detail.buy_logo1 %>
                                    <img src="<%= @detail.buy_logo1.thumb100.url %>" />
                                <% end %>
                                </br>
                                采购截图2：<%= upload_column_field :detail, :buy_logo2 %>
                                <% if @detail.buy_logo2 %>
                                    <img src="<%= @detail.buy_logo2.thumb100.url %>" />
                                <% end %></br>
                                发货时间：<%= date_select "detail", "kd_at", {:use_month_numbers => true }%></br>
                                物流单号：<%= text_field "detail", "buy_sn", {:style=>"width:160px;"}%></br>
                                发货截图：<%= upload_column_field :detail, :kd_logo %>
                                <% if @detail.kd_logo %>
                                    <img src="<%= @detail.kd_logo.thumb100.url %>" />
                                <% end %>
                                </br>
                                用户备注：<%= text_area :detail, :buy_remark, {:rows=>4} %></br>
                                管理员备注：<%= text_field :detail, :admin_remark %></br>
                                <%= submit_tag "提交", {:style=>"margin-top:20px;"} %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </table>
        <%= will_paginate @orders %>
    </div>
</div>