<div id="header">
	<div id="header_main">
		<div id="header_logo">
			<a href="/index"><img src="/images/logo.jpg" /></a> 
		</div>
		<% if !@user %>
		<div id="header_right1">
			<div id="header_right_dl">
				<a href="/account/login" ><img src="/images/dl.jpg"/></a>
			</div>
                  <div style="clear: both"></div>
			<div id="header_right_dlic">
				<ul>
					<li>
						<a href="/account/login_from_weibo"  class="xl_login">新浪微博</a>
					</li>
					<li>
						<a href="/account/login_from_qq2"  class="qq_login">QQ登录</a>
					</li>
					<li>
						<a href="/account/login_from_qq"  class="tx_login">腾讯微博</a>
					</li>
					<li>
						<a href="/account/login_from_taobao" class="tb_login">淘宝登录</a>
					</li>
				</ul>
			</div>
		</div>
		<% else %>
			 <div id="header_right">
		    	<a href="/settings/profile">设置</a>
		    	<a id='head_messages' href="/home/atme">消息</a>
		    	<a href="/account/logout">退出</a>
		    </div>
			 <div id="header_info">
		      <table border="0" cellspacing="0" cellpadding="0">
		        <tr>
		          <td style="height:30px; overflow: hidden; border-left: 0px;">
                            <% if @user.logo %>
		          	<img src="http://www.mamashai.com<%= @user.logo.thumb30 %>" border=0/><b><%= @user.name %></b>
                               <% end %>
		          </td>
		          <td><a href="/home">我的首页</a></td>
		          
		          <% if @user.column_author? %>
					<td><a href="/column/space_author/<%= @user.id %>">我的专栏</a></td>
				  <% end %>
				  <td>
				  	<a href="/home?c=1#c"><img src="/images/top_p.jpg"/>记录</a>&nbsp;&nbsp;&nbsp;
				  	<a href="/ddh"><img src="/images/kingegg.jpg"/>(<%= @user.score %>)</a>
				  </td>
		        </tr>
		      </table>
		    </div>
		<% end %>
		<div class="clear"></div>
	</div>
	<div id="nav">
		<div class="nav_main">
			<div class="nav_list">
				<ul>
					<li class="nav_list_index">
						<a href="/index" <%=raw 'class="current"' if controller.controller_name == 'index' && controller.action_name == "index"%>>首页</a>
					</li>
					<li>
						<img src="/images/nav_li.png" border="0"  />
					</li>
					<li>
						<strong><a href="/index/jh" <%=raw 'class="current"' if controller.controller_name == 'index' && %w(jh posts rookie).include?(controller.action_name)%>>记录广场</a></strong>
					</li>
					<li>
						<a href="/hot_topic" <%=raw 'class="current"' if controller.controller_name == 'hot_topic'%>> 话题</a>
					</li>
					<li>
						<img src="/images/nav_li.png"  border="0" />
					</li>
					<li>
						<a href="/ddh" <%=raw 'class="current"' if controller.controller_name == 'ddh'%>> 豆豆换</a>
					</li>
				</ul>
			</div>
			<div class="nav_search">
				<%= form_tag({:controller=>"index", :action=>"find_posts"}, :method=>"get") do%>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td>
						<input id='search' name="id" type="text" onfocus="if ($('#search').val()=='搜话题，找人') $('#search').val('')" onblur="if ($('#search').val() == '') $('#search').val('搜话题，找人')" class="nav_input ajax-suggestion /ajax/get_search_tp" value="<%=h controller.controller_name == "index" && (%w(find_posts find_users).include?(controller.action_name)) ? params[:id] : "搜话题，找人" %>" />
						</td>
						<td>
						<input name="" type="image" src="/images/search.jpg" />
						</td>
					</tr>
				</table>
				<% end %>
				<div id="search-result-suggestions">
					<h4>我搜的是:</h4>
					<div id="search-results"></div>
				</div>

				<%= javascript_include_tag "ajax_suggestion.js" %>
			</div>
		</div>
	</div>
	<div class="clear"></div>
<% if @user and @user.has_unread_infos %>
<div style="display:none">
<%= render :partial=>"/share/top_notice" %>
</div>
<script>
	$(document).ready(function(){
		var notice_dialog = $.dialog({
			title: "未读消息",
			content: $('#top_tips').get(0), 
			follow: $('#head_messages').get(0),
			visible: false
		}).hideTitle();
		
		setTimeout(function(){
			notice_dialog.visible()
		}, 2000)
	})
</script>
<% end %>

</div>
<div class="clear"></div>

